.sub-menu {
    @apply w-full py-4 px-4 sm:px-6 md:px-8 bg-[#FFEBD6] flex justify-center items-center rounded-b-2xl sm:rounded-b-3xl sticky top-16 z-[29];
}

.sub-container {
    @apply max-w-7xl mx-auto w-full overflow-x-auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.sub-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.sub-menu-items {
    @apply flex flex-row flex-nowrap gap-6 md:gap-8 lg:gap-12 justify-start md:justify-center items-center min-w-min md:min-w-0;
}

.sub-menu-items a {
    @apply text-[#704015] hover:text-[#A17046] text-sm lg:text-base whitespace-nowrap flex-shrink-0;
}