.banner-container {
    @apply bg-transparent mx-auto flex flex-col justify-center items-center py-36 sm:py-28 md:py-32 lg:py-40 px-4 sm:px-6 md:px-8;

    h1 {
        @apply text-4xl sm:text-5xl md:text-6xl lg:text-7xl mb-6 sm:mb-8 md:mb-10;
    }

    p {
        @apply text-base sm:text-lg md:text-xl mb-8 sm:mb-9 md:mb-10 max-w-sm sm:max-w-md md:max-w-lg lg:max-w-xl text-center;
    }

    .banner-button {
        @apply bg-[#704015] text-white rounded-3xl px-6 py-1.5 sm:px-8 sm:py-2 md:px-10 md:py-2 text-sm sm:text-base hover:bg-[#966133] hover:text-white transition-all duration-300;
    }

    .btn-animation {
        @apply relative;

        img {
            @apply absolute object-contain opacity-0 scale-0 transition-all duration-500 pointer-events-none w-4 h-4 sm:w-5 sm:h-5 md:w-6 md:h-6;
        }

        // Top Left
        img:nth-child(1) {
            @apply -top-2 left-4 sm:-top-2.5 sm:left-6 md:-top-3 md:left-8 translate-x-8 translate-y-6 sm:translate-x-10 sm:translate-y-7 md:translate-x-12 md:translate-y-8;
        }

        // Top Right
        img:nth-child(2) {
            @apply -top-2 right-2 sm:-top-2.5 sm:right-3 md:-top-3 md:right-4 -translate-x-6 translate-y-6 sm:-translate-x-8 sm:translate-y-7 md:-translate-x-10 md:translate-y-8;
        }

        // Bottom Left
        img:nth-child(3) {
            @apply -bottom-2 left-1 sm:-bottom-2.5 sm:left-1.5 md:-bottom-3 md:left-2 translate-x-10 -translate-y-6 sm:translate-x-12 sm:-translate-y-7 md:translate-x-16 md:-translate-y-8;
        }

        // Bottom Right
        img:nth-child(4) {
            @apply -bottom-2 right-4 sm:-bottom-2.5 sm:right-6 md:-bottom-3 md:right-8 -translate-x-8 -translate-y-6 sm:-translate-x-10 sm:-translate-y-7 md:-translate-x-12 md:-translate-y-8;
        }
    }

    .btn-animation:hover {
        img {
            @apply opacity-100 scale-100 translate-x-0 translate-y-0;
        }
    }
}