.custom-text-row {
    @apply w-full py-4 px-4 sm:px-6 md:px-8 border-t border-[#F7D2AD] mt-14 2xl:mt-32 rounded-b-2xl sm:rounded-b-3xl ;

    .text-row-container {
        @apply max-w-7xl mx-auto;
    }

    .text-items {
        @apply flex flex-col md:flex-row gap-6 md:gap-8 lg:gap-12 justify-center items-center;
    }

    .text-item {
        @apply flex-1 flex flex-row items-center gap-3 md:gap-4;

        .icon {
            @apply w-5 h-5 md:w-6 md:h-6 flex-shrink-0;
        }

        p {
            @apply text-base md:text-lg lg:text-xl flex-1;
        }
    }
}