@layer base {

    html,
    body {
        overflow-x: clip;
    }

    // Global Heading Styles
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Agbalumo', cursive;
        @apply font-semibold text-[#704015] leading-tight mb-4;
    }

    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }

    h5 {
        @apply text-lg;
    }

    h6 {
        @apply text-base;
    }

    input,
    button,
    li,
    p {
        @apply text-[#704015];
    }

    button {
        @apply border-[1px] border-[#704015];
    }
}