.products-list {
    @apply py-16 px-4 md:px-8 2xl:px-0;

    &-container {
        @apply max-w-7xl mx-auto;
    }

    &-section {
        @apply mb-24;
    }

    &-header {
        @apply flex justify-between items-center border-b-2 border-[#F7D2AD] border-dashed;
    }

    &-title {
        @apply text-2xl font-bold text-[#704015] mb-8 sm:text-3xl;
    }

    &-grid {
        @apply grid grid-cols-1 gap-6 mt-10 sm:grid-cols-2 sm:gap-8 lg:grid-cols-4;
    }

    &-item {
        @apply flex flex-col justify-center items-center border-[#F7D2AD] border-[1px] p-8 rounded-2xl;

        &-image {
            @apply w-20 h-20 object-contain mb-2;
        }

        &-info {
            @apply flex justify-between items-center border-b border-[#F7D2AD] border-dashed w-full mb-4 py-4;
        }

        &-name {
            @apply text-[#704015] font-bold;
        }

        &-price {
            @apply text-[#704015];
        }

        &-description {
            @apply text-[#966133] text-center;
        }
    }

    &-empty {
        @apply text-center text-gray-500;
    }
}